<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
  <!-- Menu -->
    <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
      <div class="app-brand demo">
        <span class="app-brand-text demo menu-text fw-bolder ms-2">Avantika Test</span>
      </div>
      <div class="menu-inner-shadow"></div>
      <ul class="menu-inner py-1">
      <!-- Dashboard -->
        <li class="menu-item active">
          <a class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link">
            <i class='menu-icon tf-icons bx bx-data'></i>
            <div data-i18n="Analytics">Historial</div>
          </a>
        </li>
      </ul>
    </aside>

    <!-- Layout container -->
    <div class="layout-page">
      <!-- Navbar -->
      <nav class="navbar navbar-example navbar-expand-lg bg-light">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbar-ex-3">
            <div class="navbar-nav me-auto"></div>
            <button class="btn btn-outline-primary" type="button">Cerrar sesión</button>
          </div>
        </div>
      </nav>
      <!-- / Navbar -->
      <!-- Content wrapper -->
      <div class="content-wrapper">
        <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
          <div class="card mb-4">
            <h5 class="card-header">Cuentas de ahorro</h5>
            <div class="card-body">
              <div class="row">
                <div class="col">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / Content -->
      </div>
      <footer class="footer bg-light">
        <div class="container-fluid d-flex flex-md-row flex-column justify-content-between align-items-md-center gap-1 container-p-x py-3">
          <div>
            <a href="https://github.com/EliezerJD" target="_blank" class="footer-text fw-bolder">Eliezer Jerez 😊</a>
          </div>
          <div>
            <a class="footer-link me-4">Avantika Test 2022</a> 
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>