<div class="container-xxl flex-grow-1 container-p-y" >
  <!-- Hoverable Table rows -->
  <div class="card">
    <h5 class="card-header">Cuentas de ahorro</h5>
    <div class="table-responsive text-nowrap">
      <table class="table table-hover center">
        <thead>
          <tr>
            <th>ID cliente</th>
            <th>No de cuenta</th>
            <th>Saldo</th>
            <th>Estado</th>
            <th>Operación</th>
            <th>Ultima Actividad</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <tr *ngFor='let acc of accounts.reverse()'>
            <td>{{acc.idCliente || '-'}}</td>
            <td>{{acc.numeroCuenta || '-'}}</td>
            <td>${{acc.saldo || '0'}}</td>
            <td [ngSwitch]="acc.estado">
              <span *ngSwitchCase="'Activa'" class="badge bg-label-success me-1">{{acc.estado}}</span>
              <span *ngSwitchCase="'Inactiva'" class="badge bg-label-warning me-1">{{acc.estado}}</span>
              <span *ngSwitchDefault class="badge bg-label-primary me-1">{{acc.estado || '-'}}</span>
            </td>
            <td><button class="btn rounded-pill btn-outline-success">Depósito</button>&nbsp;<button class="btn rounded-pill btn-outline-danger">Retiro</button></td>
            <td>{{acc.fechaUltimaAct || '-'}}</td>
          </tr> 
        </tbody>
      </table>
    </div>
  </div>
</div>